%html
  %body
    %header
      .message-header
        .message-data__name
          %p.message-data__name__d name
          %p.message-data__name__message 2019/10/10(Mon) 10:10:10
        .message__text aaaaa

