.main
  .main-header
    .main-header__left__box
      %p.main-header__left__box__group-name group-name
      %p.main-header__left__box__group-member Member
      .main-header__right__box
        %p.main-header__right__box__edit-btn Edit
    


