      .message-header{
        height: calc(100vh - 282px);
        padding: 46px 40px;
        background-color:#fafafa;
        overflow: scroll; 
        .message-data__name{
          display: flex;
          margin: 0 auto;
          &__d{
            font-size: 16px;
            color:#434A54;
            font-size: bold;
            margin-right: 10px;
          }
          &__message{
              font-size: 12px;
              color:#999999;
              display: flex;
          } 
        }  
        .message__text{
          font-size: 15px;
          color:#434A54;
        }
      }

