

.form{
  height: 90px;
  padding: 20px 40px;
  background-color: #ddd;
  
  .form__mask{
    position: relative;
    width: 100%;
}
   .form__message{
    height: 50px;
    width: 100%;
    padding: 0 40px 0 10px;
    color: #434a54;
    border-style: none;
  } 
    // .hidden{
    //   display: none;
    // }  
    .form__mask__image {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    }
   

  .form__submit{
    width: 100px;
    height: 50px;
    padding: 0 30px;
    margin-left: 15px;
    background-color: #38aef0;
    color: white;
    float: right;
  }
} 

// .form{
//       height: 50px;
//       padding: 20px 40px;
//       background-color: #ddd;
//       display: flex;
//   .input-box{
//     width: 100%;
//     height: 40px;
//     background-color:#ffff;
//     // display: flex;
//     // justify-content: space-between;
//     padding: 10px 25px 0 0;  
//     .form__message{
//       height: 38px;
//       width: 50%;
//       color: #434a54;
//       border-style: none;
//       outline:none;
//       position: relative;
//       vertical-align: top;
//     }
//     .icon{
//       font-size: 1.3rem;
//       justify-content: space-between;
//     }
//     .hidden{
//       justify-content: space-between;
//     }

//   }    
// }
//   .submit-btn{
//     width: 100px;
//     height: 50px;
//     padding: 0 30px;
//     margin-left: 15px;
//     background-color: #38aef0;
//     color: white;
//   }

  .form{
    height: 50px;
    padding: 20px 40px;
    background-color: #ddd;
    display: flex;
.input-box{
  width: 100%;
  height: 40px;
  background-color:#ffff;
  display: flex;
  justify-content: space-between;
  padding: 10px 25px 0 0;  
  .form__message{
    height: 38px;
    width: 50%;
    color: #434a54;
    border-style: none;
    outline:none;
    position: relative;
    vertical-align: top;
  }
  .input-box__image{
    font-size: 1.3rem;
    position: absolute;
    display: none;
  }
  // .file_text {
  //   display: none;
  // }  
}    
}
.submit-btn{
  width: 100px;
  height: 50px;
  padding: 0 30px;
  margin-left: 15px;
  background-color: #38aef0;
  color: white;
}

