* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.message{
  height: calc(100vh - 190px);
  padding: 46px 40px;
  background-color:#fff;
  overflow: scroll; 
  .message-header{
    padding-bottom: 30px;
    }
    &-data__name{
    display: flex;
    &__d{
      font-size: 16px;
      color:#434A54;
      font-size: bold;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    &__message{
      color: #999999;
      font-size: 12px;
      margin-left: 10px;
    } 
    }  
  .message__text__content{
    color:#434A54;
    font-size: 14px;
    margin-bottom: 5px;
  }      
}
